body{
  background-color: lavender;
}

h2{
  color: brown;
  font-size: 400%;
  letter-spacing: 6px;
  font-family: Georgia;
}

p{
  font-family: Sans-Serif;
  font-size: 150%;
}
ul{
 list-style-type:none; 
 width: 100%;
 text-align:right; 
 position:fixed;
}
li{
  float:left;
}
 li a{
  color:black;
  padding: 90px;
  font-family:"Courier New", Monospace;
  font-size: 120%;
}
li a:hover{
  background-color:white;
  color:blue;
}
h2{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
img{
  border: dotted;
}
